@import "./../../../../styles/var.scss";
.doc {
    &.light {
        table {
            th {
                background-color: #f4f6f6;
            }
            th,
            td {
                border: 1px solid $grey-lightest;
            }

            tbody tr {
                &:hover {
                    td {
                        background-color: rgba(#b3cce0, 0.25);
                    }
                }
            }
        }
    }

    &.dark {
        table {
            th {
                background-color: #292e35;
            }
            th,
            td {
                border: 1px solid $grey-lighter;
            }

            tbody tr {
                &:hover {
                    td {
                        background-color: rgba(#275c8b, 0.25);
                    }
                }
            }
        }
    }
    img {
        max-width: 100%;
    }

    hr {
        margin-block: 3rem;
        border: 0;
        border-top: 1px solid $grey-lightest;
    }

    table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
        background-color: $bg-p;

        th {
            background-color: #f4f6f6;
        }
        th,
        td {
            border: 1px solid $grey-lightest;
        }

        tbody tr {
            &:hover {
                td {
                    background-color: rgba(#b3cce0, 0.25);
                }
            }
        }

        th {
            font-size: 14px;
            font-weight: 400;
            div {
                padding-block: 0.5rem;
                padding-inline: 0.5rem;
                display: flex;
                // justify-content: center;
                font-size: 1rem;
                font-weight: 500;
            }
        }

        td {
            p {
                font-size: 15px;
                padding-block: 0.2rem;
                padding-inline: 0.5rem;
                margin: 0.25rem;
            }
        }
    }
}
